<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:emiralle@alumni.sfu.ca">email</a></li>
            <li><a href="https://github.com/je-miralles">github.com/je-miralles</a></li>
      </ul>
    </footer>
  </body>
</html>
